<!doctype html>
<html lang="en">
  <head>
    <!-- Vendors -->
    <link rel='stylesheet' href='/css/fullcalendar.css' />
    <script src='/js/vendors/jquery.min.js'></script>    
    <script src='/js/vendors/underscore.js'></script>
    <script src='/js/vendors/backbone.js'></script>
    <!-- TODO: add a moment.js to development -->
    <script src='/js/vendors/moment.min.js'></script> 
    <script src='/js/vendors/mustache.js'></script>
    <script src='/js/vendors/fullcalendar.js'></script>
    <script src='/js/vendors/fullcalendar-he.js'></script>

    <!-- Models -->
    <script src='/js/models/eventModel.js'></script>
    <script src='/js/models/filterModel.js'></script>

    <!-- Collections -->
    <script src='/js/collections/eventsCollection.js'></script>
    <script src='/js/collections/filtersCollection.js'></script>

    <!-- Views -->
    <script src='/js/views/appView.js'></script>
    <script src='/js/views/filtersView.js'></script>
    <script src='/js/views/eventModalView.js'></script>
    <script src='/js/views/eventsView.js'></script>
    
    <script>
      'use strict';
      $(function() {  //  document ready

        window.App = window.App || {};

        let appView = new App.AppView({
          vent: _.extend({}, Backbone.Events
        )});
    });
    </script>
  </head>
  <body>
      <script type="text/template" class="js-app-template">      
        <div class="js-app">
          <div class='js-full-calendar'></div>
          <div class='js-filters'></div>
        </div>
      </script>

      <script type="text/template" class="js-filters-template">              
        <span>Genre:</span>
        <select class="js-genre-id">
        </select>
      </script>

      <script type="text/template" class="js-event-modal-template">
        <div>
          Test
        </div>
      </script>
  </body>
 </html>

