<!doctype html>
<html lang="en">
  <head>
    
    <script src='/js/vendors/jquery.min.js'></script>    
    <script src='/js/vendors/underscore.js'></script>
    <script src='/js/vendors/backbone.js'></script>
    <!-- TODO: add a moment.js to development -->
    <script src='/js/vendors/moment.min.js'></script> 
    <script src='/js/vendors/mustache.js'></script>

    <!-- Models -->
    <script src='/js/models/eventModel.js'></script>

    <!-- Collections -->
    <script src='/js/collections/eventsCollection.js'></script>

    <!-- Views -->
    <script src='/js/views/eventModalView.js'></script>

    <script>
      'use strict';
      $(function() {  //  document ready
            window.App = window.App || {};
            
            App.AppView = App.AppView || {};
            App.EventModalView = App.EventModalView || {};
            App.EventModel = App.EventModel || {};
            let model = new App.EventModel({
                title: "Long Event",
                start: "2018-12-01",
                end: "2018-12-10",
                filters: {
                    year: [
                        2018
                    ],
                    month: [
                        12
                    ],
                    day: [
                        7,
                        8,
                        9
                    ],
                    genreId: [],
                    subGenreId: []
                }
            });
            let view = new App.EventModalView({model: model});
            view.render();
        });
    </script>
  </head>
  <body>
      <script type="text/template" class="js-event-modal-template">
    <div>
        hello {{Title}}
    </div>
      </script>
  </body>
 </html>

