<!doctype html>
<html lang="en">
    <head>
        <!-- Vendors -->
        <link rel='stylesheet' href='/css/fullcalendar.css' />
        <script src='/js/vendors/jquery.min.js'></script>
        <script src='/js/vendors/mustache.js'></script>
        <script src='/js/vendors/underscore.min.js'></script>
        <script src='/js/vendors/backbone.js'></script>
        <script src='/js/vendors/moment.min.js'></script>
        <script src='/js/vendors/fullcalendar.min.js'></script>
        <script src='/js/vendors/fullcalendar-he.js'></script>
        
        <script src='/js/models/filterModel.js'></script>
        <script src='/js/collections/filtersCollection.js'></script>
        <script src='/js/views/filtersView.js'></script>

        <script>
            'use strict';
            $(function() {  //  document ready
                //TODO: Should move into main.js
                window.App = window.App || {};

                let filters = new App.FiltersCollection();
                filters.fetch();
                let vent = _.extend({}, Backbone.Events);
                vent.on("genre", filterEventsView);
                function filterEventsView(res) {
                    console.log("filterEventsView");
                    console.log(res);
                }

                let filtersView = new App.FiltersView({
                    model: filters,
                    vent: vent
                });
            });
        </script>
    </head>
    <body>
        <div class="js-app">
            <div class='js-full-calendar'></div>
            <div class='js-filters'></div>
        </div>

        <script type="text/template" class="js-filters-template">              
            <span>Genre</span>
            <select class="js-genre-id">
            </select>
        </script>
    </body>
</html>