<!doctype html>
<html lang="en">
  <head>
    <link rel='stylesheet' href='/css/fullcalendar.css' />
    <script src='/js/jquery.min.js'></script>
    <script src='/js/underscore.js'></script>
    <script src='/js/backbone.js'></script>
    <script src='/js/moment.min.js'></script>
    <script src='/js/fullcalendar.min.js'></script>
    <script src='/js/fullcalendar-he.js'></script>
    <script>
      'use strict';
      $(function() {  //  document ready

        // Event Model
        // -----------
        var Event = Backbone.Model.extend({
          defaults: function() {
            return { }
          }
        });

        // Event Collection
        // ----------------
        var EventsList = Backbone.Collection.extend({
          model: Event,
          url: '/events/',
          applyFilter: function (filters) {          
            var filtered = this.filter(event => {
              if (filters.day && filters.month && filters.year) {
                return event.get("year").includes(filters.year) &&
                      event.get("month").includes(filters.month) &&
                      event.get("day").includes(filters.day);
              }
              else if (filters.month && filters.year) {
                return event.get("year").includes(filters.year) &&
                      event.get("month").includes(filters.month);
              }
              else if (filters.year) {
                return event.get("year").includes(filters.year);
              }
              else {
                  return true;
              }
            });
            return new EventsList(filtered);
          }
        });

        var Events = new EventsList;

        // The Application
        var AppView = Backbone.View.extend({
          el: $('.js-events-app'),
          // Our template for the line of statistics at the bottom of the app.
          filtersTemplate: _.template($('.js-filters-template').html()),
          events: {
            "click .js-apply-filters": "applyFilters",
          },
          initialize: function() {
            this.listenTo(Events, 'add', this.addEvent);
            this.listenTo(Events, 'reset', this.resetEvents);
            this.listenTo(Events, 'sync', this.render);

            this.$fullCalendar = this.$('.js-full-calendar');
            let events = Events.fetch();
          },
          render: function() {
            console.log(Events.toJSON());

            this.$fullCalendar.fullCalendar({
              locale: 'he', //TODO: make this options come as params from server side.
              isRTL: true,
              header: { center: 'month,agendaWeek' }, // buttons for switching between views
              views: {
                month: { // name of view
                  titleFormat: 'YYYY, MM, DD' //TODO: make it behave according to the user.
                  // other view-specific options here
                }            
              },
              events: Events.toJSON() //TODO: make a util function that get the current month and year.
            });
          }
        });

        var App = new AppView;

        // //  Initialize the fullcalendar
        // //  Get the calendar object
        // var calendar = $('#calendar').fullCalendar('getCalendar');

        // //  Click on a day 
        // calendar.on('dayClick', function(date, jsEvent, view) {
        //   console.log('clicked on ' + date.format());
        //   alert('a day has been clicked!');
        // });                      
      });
    </script>
  </head>
  <body>
      <div class='js-events-app'>
          <div class='js-full-calendar'></div>
      </div>

      <script type="text/template" class="js-filters-template">      
        <div>
          <span>filters</span>
        </div>
      </script>
  </body>
 </html>     

