<!doctype html>
<html lang="en">
  <head>
    <link rel='stylesheet' href='/css/fullcalendar.css' />
    <script src='/js/vendors/jquery.min.js'></script>
    <script src='/js/vendors/underscore.js'></script>
    <script src='/js/vendors/backbone.js'></script>
    <script src='/js/vendors/moment.min.js'></script>
    <script src='/js/vendors/fullcalendar.min.js'></script>
    <script src='/js/vendors/fullcalendar-he.js'></script>
    
    <script src='/js/collections/eventsCollection.js'></script>
    <script src='/js/models/eventModel.js'></script>
    <script src='/js/views/appView.js'></script>
    <script src='/js/views/filtersView.js'></script>
    <script src='/js/views/eventModalView.js'></script>
    <script src='/js/views/fullCalendarView.js'></script>
    
    <script>
      'use strict';
      $(function() {  //  document ready
        window.App = window.App || {};

        App.AppView = App.AppView || {};
        App.EventModalView = App.EventModalView || {};
        App.FullCalendarView = App.FullCalendarView || {};
        App.EventModel = App.EventModel || {};
        App.EventsCollection = App.EventsCollection || {};
        
        let model = App.EventModel;
        let collection = new App.EventsCollection({model: model});
        let view = new App.AppView({collection: collection});
      });
    </script>
  </head>
  <body>
      <div class="js-app"></div>

      <script type="text/template" class="js-app-template">      
        <div class='js-full-calendar'></div>
        <div class='js-filters'></div>
      </script>

      <script type="text/template" class="js-filters-template">      
        <div>
          <span>filters</span>
        </div>
      </script>

      <script type="text/template" class="js-event-modal-template">
        <div>
          Test
        </div>
      </script>
  </body>
 </html>

